@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  width: 256px!important ;
}

.normal-type {
  background-color: #A8A878;
}
.fire-type {
  background-color: #F08030;
}
.fighting-type {
  background-color: #A8A878;
}
.water-type {
  background-color: #A8A878;
}
.flying-type {
  background-color: #A8A878;
}
.grass-type {
  background-color: #A8A878;
}
.poison-type {
  background-color: #A8A878;
}
.electric-type {
  background-color: #A8A878;
}
.ground-type {
  background-color: #A8A878;
}
.psychic-type {
  background-color: #A8A878;
}
.rock-type {
  background-color: #A8A878;
}
.ice-type {
  background-color: #A8A878;
}
.bug-type {
  background-color: #A8A878;
}
.dragon-type {
  background-color: #A8A878;
}
.ghost-type {
  background-color: #A8A878;
}
.dark-type {
  background-color: #A8A878;
}
.unknow-type {
  background-color: #A8A878;
}